
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <!-- css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />



</head>
<body class="container">

    <h1>Cadastro de avaliação de atendimento</h1>
    <a href="/home/indexPooling">Página inicial</a>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <label>Informe a nota do atendimento:</label>
            <select id="avaliacao" class="form-control">
                <option value="1">Excelente</option>
                <option value="2">Bom</option>
                <option value="3">Regular</option>
                <option value="4">Insuficiente</option>
            </select>
            <br/>

            <label>Comentários</label>
            <textarea id="comentarios" class="form-control"></textarea>
            <br/>

            <button id="btncadastro" class="btn btn-success">
                Cadastrar avaliação
            </button>
            <br/>

            <div id="mensagem">

            </div>
        </div>
    </div>

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.0.4/signalr.min.js"></script>

    <script>

        //conectando no hub criado
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/avaliacao")
            .build();

        connection.start().catch(e => console.log(e.toString()));

        $(document).ready(function () {
            $("#btncadastro").click(function () {
                $("#mensagem").html("Processando, por favor aguarde...");

                $.ajax({
                    type: "POST",
                    url: "/Home/CadastrarAvaliacao",
                    data: {
                        Avaliacao: $("#avaliacao").val(),
                        Comentarios: $("#comentarios").val()
                    },
                    success: function (data) {
                        $("#mensagem").html(data);

                        $("#avaliacao").val("1");
                        $("#comentarios").val("");

                        //enviar uma notificação para o Hub
                        connection.invoke('Send', data)
                    },
                    error: function (e) {
                        $("#mensagem").html(e.responseText);
                    }
                });
            })
        })
    </script>
</body>
</html>
