
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <!-- css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
        }

            #snackbar.show {
                visibility: visible;
                -webkit-animation: fadein 1s, fadeout 1s 2.5s;
                animation: fadein 1s, fadeout 1s 2.5s;
            }

        @@-webkit-keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @@keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @@-webkit-keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }

        @@keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }
    </style>

</head>
<body class="container">

    <h1>Dashboard Principal</h1>
    <a href="/home/cadastroavaliacao">Cadastrar Avaliação</a>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <div id="grafico1"></div>
        </div>
        <div class="col-md-6">
            <div id="grafico2"></div>
        </div>
    </div>

    <div id="snackbar">Nova avaliação recebida</div>

    <!-- javascript -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.0.4/signalr.min.js"></script>

    <script>

        var reload = setInterval(cronometro, 1500);

        //Continuar com implementação do pooling
        var dadosAnteriores;
        var dadosAtuais;

        function cronometro() {
            var d = new Date();

            $.ajax({
                type: "GET",
                url: "/Home/ObterGraficoDeAvaliacoes",
                success: function (dados) {
                    dadosAtuais = dados;
                    var needReload = false;

                    for (i = 0; i < dados.length; i++) {
                        if (dados.length == dadosAnteriores.length) {

                            console.log("aqui");
                            if (dados[i].data[0] != dadosAnteriores[i].data[0]) {
                                console.log("aqui2");
                                needReload = true;
                                dadosAnteriores = dados;
                            }
                        }
                        else {
                            needReload = true;
                            dadosAnteriores = dados;
                        }
                    }

                    if (needReload) {
                        ShowToast();
                        montarGraficoDeAvaliacoes(dados);
                    }
                },
                error: function (e) {
                    console.log(e.responseText);
                }
            });

            //console.log("Nova requisição realizada");

            //console.log(dadosAnteriores);
            //console.log(dadosAtuais);

        };


        function montarGraficoDeAvaliacoes(dados) {

            //tratamento para definir qual será o eixo dos valores do grafico
            var array = [];
            for (var i = 0; i < dados.length; i++) {
                array.push([
                    dados[i].name, dados[i].data[0]
                ]);
            }

            //montando o gráfico...
            new Highcharts.Chart({
                chart: {
                    type: 'pie',
                    renderTo: 'grafico1'
                },
                title: {
                    text: "Avaliação de Atendimento"
                },
                credits: { enabled: false },
                series: [{
                    data: array
                }]
            });

        };

        //função para exibir o conteúdo do gráfico de pizza
        function obterGraficoDeAvaliacoes() {

            $.ajax({
                type: "GET",
                url: "/Home/ObterGraficoDeAvaliacoes",
                success: function (dados) {
                    montarGraficoDeAvaliacoes(dados);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        };

        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "/Home/ObterGraficoDeAvaliacoes",
                success: function (dados) {
                    dadosAnteriores = dados;
                    dadosAtuais = dados;
                },
                error: function (e) {
                    console.log(e.responseText);
                }
            });

            obterGraficoDeAvaliacoes();
        });

        //exibir toast
        function ShowToast() {
            var x = document.getElementById("snackbar")
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        }

    </script>

</body>
</html>
